<!DOCTYPE html>
<html>
<head>
  {% include 'headerLinks.html'%}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
}
</style>
</head>
<body style="background: url(../static/images/ag.jpg);background-repeat: no-repeat;background-size: cover; ">
  <div class="container">
    <br>
  
    {%include 'navbar.html'%}
    <div class="navbar">
      <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
      <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
      <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
    </div>
<div style="padding-left:16px">
  <H1 style="text-align:center;font-weight: bold;font-size: 80px;color:#f2e6ff;">Why Cyber Security is important?</H1>
  <h3 style="color:#f2e6ff;">Cybersecurity is critical because it helps to protect organizations and individuals from cyber attacks.
     cybersecurity can help to prevent data breaches, identity theft, and other types of cybercrime. 
     Organizations must have strong cybersecurity measures to protect their data and customers</h3>
</div>

</body>
</html>
